
@model ApiResourceClaimDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","ApiResources")">Api Resources</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details","ApiResources", new { id=Model.ApiResourceId})">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Claim</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Api Resource Claim
            </div>
            <div class="card-body">

                <input hidden asp-for="@Model.Id" />
                <input hidden asp-for="@Model.ApiResourceId" />

                <div class="form-group">
                    <label>Type</label>
                    <input asp-for="@Model.Type" class="form-control" readonly />
                </div>

            </div>
        </div>
    </div>
</div>