
@model UserClaimDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","IdentityResources")">Identity Resources</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details","Users", new { id=Model.UserId})">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Claim</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                User Claim
            </div>
            <div class="card-body">

                <input hidden asp-for="@Model.Id" />
                <input hidden asp-for="@Model.UserId" />

                <div class="form-group">
                    <label>Claim Type</label>
                    <input asp-for="@Model.ClaimType" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label>Claim Value</label>
                    <input asp-for="@Model.ClaimValue" class="form-control" readonly />
                </div>

            </div>
        </div>
    </div>
</div>