
@model ApiScopeAddViewModel

@{
    ViewData["Title"] = "Add";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","ApiScopes")">Api Scopes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Add Api Scope
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">

                        <partial name="_ValidationSummary" />

                    </div>
                </div>

                <form asp-action="Add">

                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="@Model.Name" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label>DisplayName</label>
                        <input asp-for="@Model.DisplayName" class="form-control" />
                    </div>

                    @*<div class="form-group form-check">
            <input type="checkbox" class="form-check-input" asp-for="@Model.Enabled">
            <label class="form-check-label">Enabled</label>
        </div>*@

                    <div class="form-group">
                        <label>Description</label>
                        <input asp-for="@Model.Description" class="form-control" />
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.Required">
                        <label class="form-check-label">Required</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.Emphasize">
                        <label class="form-check-label">Emphasize</label>
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" asp-for="@Model.ShowInDiscoveryDocument">
                        <label class="form-check-label">ShowInDiscoveryDocument</label>
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>