
@model IdentityResourceDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","IdentityResources")">Identity Resources</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                        <a class="nav-item nav-link" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="false">Claims</a>
                        <a class="nav-item nav-link" id="nav-properties-tab" data-toggle="tab" href="#nav-properties" role="tab" aria-controls="nav-properties" aria-selected="false">Properties</a>
                    </div>
                </nav>
            </div>
            <div class="card-body">


                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input asp-for="@Model.Name" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>DisplayName</label>
                                    <input asp-for="@Model.DisplayName" class="form-control" readonly />
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.Enabled" disabled>
                                    <label class="form-check-label">Enabled</label>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input asp-for="@Model.Description" class="form-control" readonly />
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.Required" disabled>
                                    <label class="form-check-label">Required</label>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.Emphasize" disabled>
                                    <label class="form-check-label">Emphasize</label>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.ShowInDiscoveryDocument" disabled>
                                    <label class="form-check-label">ShowInDiscoveryDocument</label>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.NonEditable" disabled>
                                    <label class="form-check-label">NonEditable</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                        <a asp-action="Add" asp-controller="IdentityResourceClaims" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="identityResourceClaimTable"
                               data-toggle="table"
                               data-query-params="identityResourceClaimTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="identityResourceClaimAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="type">Type</th>
                                    <th data-field="id" data-width="150" data-formatter="identityResourceClaimRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                  
                    <div class="tab-pane fade" id="nav-properties" role="tabpanel" aria-labelledby="nav-properties-tab">
                        <a asp-action="Add" asp-controller="IdentityResourceProperties" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="identityResourcePropertyTable"
                               data-toggle="table"
                               data-query-params="identityResourcePropertyTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="identityResourcePropertyAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="key">Key</th>
                                    <th data-field="value">Value</th>
                                    <th data-field="id" data-width="150" data-formatter="identityResourcePropertyRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var modelid = '@Model.Id';
    </script>

    <script>
        function identityResourceClaimAjaxRequest(params) {
            var url = '@Url.Action("GetIdentityResourceClaimsTableData", "IdentityResourceClaims")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function identityResourceClaimTableParams(params) {
            params.identityresourceid = modelid;
            return params
        }
        function identityResourceClaimRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/IdentityResourceClaims/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/IdentityResourceClaims/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/IdentityResourceClaims/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function identityResourcePropertyAjaxRequest(params) {
            var url = '@Url.Action("GetIdentityResourcePropertiesTableData", "IdentityResourceProperties")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function identityResourcePropertyTableParams(params) {
            params.identityresourceid = modelid;
            return params
        }
        function identityResourcePropertyRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/IdentityResourceProperties/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/IdentityResourceProperties/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/IdentityResourceProperties/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

}