
@model IdentityResourceClaimAddViewModel

@{
    ViewData["Title"] = "Add";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","IdentityResources")">Identity Resources</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Details","IdentityResources", new { id=Model.IdentityResourceId})">Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Claim</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                Add Identity Resource Claim
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">

                        <partial name="_ValidationSummary" />

                    </div>
                </div>

                <form asp-action="Add">

                    <input hidden asp-for="@Model.IdentityResourceId" />

                    <div class="form-group">
                        <label>Type</label>
                        <input asp-for="@Model.Type" class="form-control" />
                    </div>
                                    

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>