
@model ClientDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Clients")">Clients</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
</nav>

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-header">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-details-tab" data-toggle="tab" href="#nav-details" role="tab" aria-controls="nav-details" aria-selected="true">Details</a>
                        <a class="nav-item nav-link" id="nav-claims-tab" data-toggle="tab" href="#nav-claims" role="tab" aria-controls="nav-claims" aria-selected="false">Claims</a>
                        <a class="nav-item nav-link" id="nav-granttypes-tab" data-toggle="tab" href="#nav-granttypes" role="tab" aria-controls="nav-granttypes" aria-selected="false">Grant Types</a>
                        <a class="nav-item nav-link" id="nav-scopes-tab" data-toggle="tab" href="#nav-scopes" role="tab" aria-controls="nav-scopes" aria-selected="false">Scopes</a>
                        <a class="nav-item nav-link" id="nav-corsorigins-tab" data-toggle="tab" href="#nav-corsorigins" role="tab" aria-controls="nav-corsorigins" aria-selected="false">CORS Orgins</a>
                        <a class="nav-item nav-link" id="nav-secrets-tab" data-toggle="tab" href="#nav-secrets" role="tab" aria-controls="nav-secrets" aria-selected="false">Secrets</a>
                        <a class="nav-item nav-link" id="nav-idprestrictions-tab" data-toggle="tab" href="#nav-idprestrictions" role="tab" aria-controls="nav-idprestrictions" aria-selected="false">IDP Restrictions</a>
                        <a class="nav-item nav-link" id="nav-redirecturis-tab" data-toggle="tab" href="#nav-redirecturis" role="tab" aria-controls="nav-redirecturis" aria-selected="false">Redirect URIs</a>
                        <a class="nav-item nav-link" id="nav-logoutredirecturis-tab" data-toggle="tab" href="#nav-logoutredirecturis" role="tab" aria-controls="nav-logoutredirecturis" aria-selected="false">Post Logout Redirect URIs</a>
                        <a class="nav-item nav-link" id="nav-properties-tab" data-toggle="tab" href="#nav-properties" role="tab" aria-controls="nav-properties" aria-selected="false">Properties</a>
                    </div>
                </nav>
            </div>
            <div class="card-body">


                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">


                        <div class="row">
                            <div class="col-lg-12">


                                <div class="form-group">
                                    <label>Client ID</label>
                                    <input asp-for="@Model.ClientId" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Client Name</label>
                                    <input asp-for="@Model.ClientName" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input asp-for="@Model.Description" class="form-control" readonly />
                                </div>



                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">


                                <div class="form-group">
                                    <label>ClientUri</label>
                                    <input asp-for="@Model.ClientUri" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>LogoUri</label>
                                    <input asp-for="@Model.LogoUri" class="form-control" readonly />
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.Enabled" disabled>
                                    <label class="form-check-label">Enabled</label>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.EnableLocalLogin" disabled>
                                    <label class="form-check-label">EnableLocalLogin</label>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AllowOfflineAccess" disabled>
                                    <label class="form-check-label">AllowOfflineAccess</label>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">


                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.FrontChannelLogoutSessionRequired" disabled>
                                    <label class="form-check-label">FrontChannelLogoutSessionRequired</label>
                                </div>

                                <div class="form-group">
                                    <label>FrontChannelLogoutUri</label>
                                    <input asp-for="@Model.FrontChannelLogoutUri" class="form-control" readonly />
                                </div>



                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.BackChannelLogoutSessionRequired" disabled>
                                    <label class="form-check-label">BackChannelLogoutSessionRequired</label>
                                </div>

                                <div class="form-group">
                                    <label>BackChannelLogoutUri</label>
                                    <input asp-for="@Model.BackChannelLogoutUri" class="form-control" readonly />
                                </div>


                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label>AccessTokenLifetime</label>
                                    <input asp-for="@Model.AccessTokenLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>AuthorizationCodeLifetime</label>
                                    <input asp-for="@Model.AuthorizationCodeLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>ConsentLifetime</label>
                                    <input asp-for="@Model.ConsentLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>AbsoluteRefreshTokenLifetime</label>
                                    <input asp-for="@Model.AbsoluteRefreshTokenLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>SlidingRefreshTokenLifetime</label>
                                    <input asp-for="@Model.SlidingRefreshTokenLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>UserSsoLifetime</label>
                                    <input asp-for="@Model.UserSsoLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>DeviceCodeLifetime</label>
                                    <input asp-for="@Model.DeviceCodeLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>IdentityTokenLifetime</label>
                                    <input asp-for="@Model.IdentityTokenLifetime" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>AccessTokenType</label>
                                    <input asp-for="@Model.AccessTokenType" class="form-control" readonly />
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.UpdateAccessTokenClaimsOnRefresh" disabled>
                                    <label class="form-check-label">UpdateAccessTokenClaimsOnRefresh</label>
                                </div>

                                <div class="form-group">
                                    <label>RefreshTokenUsage</label>
                                    <input asp-for="@Model.RefreshTokenUsage" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label>RefreshTokenExpiration</label>
                                    <input asp-for="@Model.RefreshTokenExpiration" class="form-control" readonly />
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AllowAccessTokensViaBrowser" disabled>
                                    <label class="form-check-label">AllowAccessTokensViaBrowser</label>
                                </div>



                            </div>
                            <div class="col-lg-6">

                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.IncludeJwtId" disabled>
                                    <label class="form-check-label">IncludeJwtId</label>
                                </div>


                                <div class="form-group">
                                    <label>ClientClaimsPrefix</label>
                                    <input asp-for="@Model.ClientClaimsPrefix" class="form-control" readonly />
                                </div>


                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AlwaysIncludeUserClaimsInIdToken" disabled>
                                    <label class="form-check-label">AlwaysIncludeUserClaimsInIdToken</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AlwaysSendClientClaims" disabled>
                                    <label class="form-check-label">AlwaysSendClientClaims</label>
                                </div>


                                <div class="form-group">
                                    <label>PairWiseSubjectSalt</label>
                                    <input asp-for="@Model.PairWiseSubjectSalt" class="form-control" readonly />
                                </div>
                                <div class="form-group">
                                    <label>UserCodeType</label>
                                    <input asp-for="@Model.UserCodeType" class="form-control" readonly />
                                </div>
                                <div class="form-group">
                                    <label>AllowedIdentityTokenSigningAlgorithms</label>
                                    <input asp-for="@Model.AllowedIdentityTokenSigningAlgorithms" class="form-control" readonly />
                                </div>


                                <div class="form-group">
                                    <label>ProtocolType</label>
                                    <input asp-for="@Model.ProtocolType" class="form-control" readonly />
                                </div>


                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.RequireClientSecret" disabled>
                                    <label class="form-check-label">RequireClientSecret</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.RequireConsent" disabled>
                                    <label class="form-check-label">RequireConsent</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AllowRememberConsent" disabled>
                                    <label class="form-check-label">AllowRememberConsent</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.RequirePkce" disabled>
                                    <label class="form-check-label">RequirePkce</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.AllowPlainTextPkce" disabled>
                                    <label class="form-check-label">AllowPlainTextPkce</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.RequireRequestObject" disabled>
                                    <label class="form-check-label">RequireRequestObject</label>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" asp-for="@Model.NonEditable" disabled>
                                    <label class="form-check-label">NonEditable</label>
                                </div>


                            </div>
                        </div>



                    </div>
                    <div class="tab-pane fade" id="nav-claims" role="tabpanel" aria-labelledby="nav-claims-tab">
                        <a asp-action="Add" asp-controller="ClientClaims" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientClaimTable"
                               data-toggle="table"
                               data-query-params="clientClaimTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientClaimAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="type">Type</th>
                                    <th data-field="value">Value</th>
                                    <th data-field="id" data-width="150" data-formatter="clientClaimRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                    <div class="tab-pane fade" id="nav-granttypes" role="tabpanel" aria-labelledby="nav-granttypes-tab">
                        <a asp-action="Add" asp-controller="ClientGrantTypes" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientGrantTypeTable"
                               data-toggle="table"
                               data-query-params="clientGrantTypeTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientGrantTypeAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="grantType">Grant Type</th>
                                    <th data-field="id" data-width="150" data-formatter="clientGrantTypeRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-scopes" role="tabpanel" aria-labelledby="nav-scopes-tab">
                        <a asp-action="Add" asp-controller="ClientScopes" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientScopeTable"
                               data-toggle="table"
                               data-query-params="clientScopeTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientScopeAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="scope">Scope</th>
                                    <th data-field="id" data-width="150" data-formatter="clientScopeRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-corsorigins" role="tabpanel" aria-labelledby="nav-corsorigins-tab">
                        <a asp-action="Add" asp-controller="ClientCorsOrigins" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientCorsOriginTable"
                               data-toggle="table"
                               data-query-params="clientCorsOriginTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientCorsOriginAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="origin">Origin</th>
                                    <th data-field="id" data-width="150" data-formatter="clientCorsOriginRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-secrets" role="tabpanel" aria-labelledby="nav-secrets-tab">
                        <a asp-action="Add" asp-controller="ClientSecrets" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientSecretTable"
                               data-toggle="table"
                               data-query-params="clientSecretTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientSecretAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="type">Type</th>
                                    <th data-field="description">Description</th>
                                    <th data-field="id" data-width="150" data-formatter="clientSecretRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-idprestrictions" role="tabpanel" aria-labelledby="nav-idprestrictions-tab">
                        <a asp-action="Add" asp-controller="ClientIdpRestrictions" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientIdpRestrictionTable"
                               data-toggle="table"
                               data-query-params="clientIdpRestrictionTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientIdpRestrictionAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="provider">Provider</th>
                                    <th data-field="id" data-width="150" data-formatter="clientIdpRestrictionRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-redirecturis" role="tabpanel" aria-labelledby="nav-redirecturis-tab">
                        <a asp-action="Add" asp-controller="ClientRedirectUris" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientRedirectUriTable"
                               data-toggle="table"
                               data-query-params="clientRedirectUriTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientRedirectUriAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="redirectUri">Redirect URI</th>
                                    <th data-field="id" data-width="150" data-formatter="clientRedirectUriRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-logoutredirecturis" role="tabpanel" aria-labelledby="nav-logoutredirecturis-tab">
                        <a asp-action="Add" asp-controller="ClientPostLogoutRedirectUris" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientPostLogoutRedirectUriTable"
                               data-toggle="table"
                               data-query-params="clientPostLogoutRedirectUriTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientPostLogoutRedirectUriAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="postLogoutRedirectUri">Redirect URI</th>
                                    <th data-field="id" data-width="150" data-formatter="clientPostLogoutRedirectUriRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <div class="tab-pane fade" id="nav-properties" role="tabpanel" aria-labelledby="nav-properties-tab">
                        <a asp-action="Add" asp-controller="ClientProperties" asp-route-id="@Model.Id" class="btn btn-outline-primary">Add</a>
                        <br />  <br />
                        <table class="table table-bordered"
                               id="clientPropertyTable"
                               data-toggle="table"
                               data-query-params="clientPropertyTableParams"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-page-size="5"
                               data-page-list="[5,10,25,50,100,200,All]"
                               data-ajax="clientPropertyAjaxRequest">

                            <thead>
                                <tr>
                                    <th data-field="key">Key</th>
                                    <th data-field="value">Value</th>
                                    <th data-field="id" data-width="150" data-formatter="clientPropertyRowActionButtons"></th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        var modelid = '@Model.Id';
    </script>

    <script>
        function clientClaimAjaxRequest(params) {
            var url = '@Url.Action("GetClientClaimsTableData", "ClientClaims")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientClaimTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientClaimRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientClaims/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientClaims/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientClaims/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientGrantTypeAjaxRequest(params) {
            var url = '@Url.Action("GetClientGrantTypesTableData", "ClientGrantTypes")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientGrantTypeTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientGrantTypeRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientGrantTypes/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientGrantTypes/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientGrantTypes/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientScopeAjaxRequest(params) {
            var url = '@Url.Action("GetClientScopesTableData", "ClientScopes")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientScopeTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientScopeRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientScopes/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientScopes/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientScopes/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientCorsOriginAjaxRequest(params) {
            var url = '@Url.Action("GetClientCorsOriginsTableData", "ClientCorsOrigins")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientCorsOriginTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientCorsOriginRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientCorsOrigins/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientCorsOrigins/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientCorsOrigins/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientSecretAjaxRequest(params) {
            var url = '@Url.Action("GetClientSecretsTableData", "ClientSecrets")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientSecretTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientSecretRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientSecrets/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientSecrets/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientSecrets/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientIdpRestrictionAjaxRequest(params) {
            var url = '@Url.Action("GetClientIdpRestrictionsTableData", "ClientIdpRestrictions")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientIdpRestrictionTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientIdpRestrictionRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientIdpRestrictions/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientIdpRestrictions/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientIdpRestrictions/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientRedirectUriAjaxRequest(params) {
            var url = '@Url.Action("GetClientRedirectUrisTableData", "ClientRedirectUris")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientRedirectUriTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientRedirectUriRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientRedirectUris/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientRedirectUris/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientRedirectUris/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientPostLogoutRedirectUriAjaxRequest(params) {
            var url = '@Url.Action("GetClientPostLogoutRedirectUrisTableData", "ClientPostLogoutRedirectUris")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientPostLogoutRedirectUriTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientPostLogoutRedirectUriRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientPostLogoutRedirectUris/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientPostLogoutRedirectUris/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientPostLogoutRedirectUris/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>

    <script>
        function clientPropertyAjaxRequest(params) {
            var url = '@Url.Action("GetClientPropertiesTableData", "ClientProperties")';
            $.get(url + '?' + $.param(params.data)).then(function (res) {
                params.success(res)
            })
        };
        function clientPropertyTableParams(params) {
            params.clientid = modelid;
            return params
        }
        function clientPropertyRowActionButtons(index, row) {
            return '<a class="btn btn-outline-info btn-sm" href="/ClientProperties/Details/' + row.id + '" title="Show record details"><i class="fa fa-file-alt"></i></a> ' +
                '<a class="btn btn-outline-warning btn-sm" href="/ClientProperties/Edit/' + row.id + '" title="Edit this record"><i class="fa fa-edit"></i></a> ' +
                '<a class="btn btn-outline-danger btn-sm" href="/ClientProperties/Delete/' + row.id +'" title="Delete this record"><i class="fa fa-trash-alt"></i></a>'
        }

    </script>


}